.form-control {
    height: 44px;
    padding: 0 12px;
    font-size: 14px;
    border-color: #e0e0e0;
}

.form-control:focus {
    border-color: #0b5ed7;
    box-shadow: none;
}

.vertical-divider::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #e0e0e0;
}

.form-divider::before,
.form-divider::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e0e0e0;
    z-index: 0;
}

@media (max-width: 991.98px) {
    .vertical-divider {
        display: none !important;
    }
}